@import url('https://fonts.googleapis.com/css2?family=Kranky&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Kranky', cursive;
}
html, body {
    padding: 0;
    margin: 0;
}
.nav a{
    text-decoration: none;
    padding: .5em;
    display: inline-block;
    color: white;
}
.nav ul {
    margin: 0;
}
.nav li {
    display: inline;
}
.main-header {
    background-color: aquamarine;
    flex-direction: row;
}
.product-name {
    font-family: 'Kranky', cursive;
    font-size: 2em;
    margin: 0;
    font-size: 4em;
    text-align: center;
}
.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255,255,255,.3);
}
.main-nav li {
    padding: 0 5%;
}
.product-name-large {
    font-size: 5em;
    color: rgba(27, 209, 66, 0.486);
}
.nav a:hover {
    color: rgba(40, 38, 179, 0.404);
}
.introduction-text, .market h2, .market li {
    text-align: justify;
    font-family: 'Comic Sans MS';
    font-size: 1.1em;
}
.brand-logo {
    width: 300px;
    height: auto;
    float: left;
}
h2.marketing {
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;
    font-weight: lighter;
}
.main-footer {
    background-color: aquamarine;
    text-align: center;
    padding: 1em;
}
.footer-nav img {
    width: 30px;
    height: auto;
    display: inline-block;
    padding: 0 5% 14% 5%;
}
.main-footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}